/* BASIC SETUP */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #b0e0e6;
  user-select: none;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

.links a {
  text-decoration: none;
  color: #0000ee;
}

.links a:hover {
  color: #551a8b;
}

/* SCROLLBAR CODE TAKEN FROM W3SCHOOLS */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.align-right {
  text-align: right;
}

.img-1 {
  width: 550px;
  border-radius: 1rem;
}

.img-2 {
  margin-top: 10px;
  width: 550px;
  border-radius: 1rem;
}

.images-right {
  float: right;
  display: grid;
  margin: 10px;
}

.contact-info {
  margin: 0;
  background-color: #1f1f1f;
  color: #ccc;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 185px;
  margin-bottom: 0;
}

.links h2 {
  font-weight: normal;
}

.contact-info p {
  text-align: center;
}

.contact-info a {
  color: #ccc;
  text-decoration: none;
}

.contact-info a:hover {
  color: #fff;
}

/* RESPONSIVENESS */
@media (max-width: 922px) {
  .title {
    font-size: 35px;
  }

  .quote {
    font-size: 10px;
    display: none;
  }

  .images-right {
    display: none;
  }

  .contact-info {
    font-size: 12px;
    height: 155px;
  }
}
