@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
  --button-background: #33373a;
  --button-hover-background: #3f4142;
  --hamburger-menu-background: #2c2c2c;
  --button-color: #b0e0e6;
  --alert-background: #d4edda;
  --alert-text-color: #155724;
}

.dark {
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
  --hamburger-menu-background: #2c2c2c;
}

.light {
  --background-color: #fff;
  --text-color: #333;
  --links-hover-color: #000;
  --hamburger-menu-background: #c2c2c2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  background-image: initial;
  background-color: transparent;
  height: 8px;
  width: 8px;
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  border-color: initial;
  box-shadow: none;
  background-image: initial;
  background-color: #555;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  min-height: 40px;

  &:hover {
    background: #404344;
  }

  &:active {
    background: #4a4c4d;
  }
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .theme-switcher {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--button-background);
    border: 1px solid var(--button-background);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1.5rem;
  }

  button:hover {
    background-color: var(--button-hover-background);
    cursor: pointer;
  }
}

.nav-item {
  color: var(--text-color);
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5em;
  &:hover {
    color: var(--links-hover-color);
  }
}

.hamburger-menu {
  display: none;
}

.hamburger {
  display: none;
}

.title {
  text-align: center;
  color: var(--links-hover-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 2px solid var(--button-color);
  background: var(--background-color);
  color: var(--links-hover-color);
  width: 11rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-top: 2rem;

  &:hover {
    cursor: pointer;
    background-color: var(--button-color);
    transform: translateY(-0.1rem);
    transition: transform 0.1s ease-in;
    color: #000;
  }

  &:active {
    scale: 0.98;
  }
}

input {
  background: var(--hamburger-menu-background);
  width: 60vw;
  border-radius: 1rem;
  border: 0;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: var(--links-hover-color);
  margin-bottom: 1rem;

  &:focus {
    outline: none;
    border: 2px solid #b0e0e6;
  }
}

textarea {
  resize: none;
  background: var(--hamburger-menu-background);
  width: 60vw;
  border-radius: 1rem;
  border: 0;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: var(--links-hover-color);
  font-family: "inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &:focus {
    outline: none;
    border: 2px solid #b0e0e6;
  }
}

.alert {
  button {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--button-background);
    border: 1px solid var(--button-background);
    color: white;

    &:hover {
      background-color: var(--button-hover-background);
      cursor: pointer;
    }
  }
}

.alert-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.alert {
  background: var(--alert-background);
  color: var(--alert-text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
  margin-top: 0rem;
  border-radius: 0.5rem;
  font-size: 1.2em;
  padding: 1rem;
  height: 3rem;
}

.error-alert {
  --alert-background: #f8d7da;
  --alert-text-color: #721c24;
}

@media (max-width: 922px) {
  body {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-around;

    .theme-switcher {
      width: 2.7rem;
      height: 2.7rem;
    }

    .hamburger {
      display: contents;
      width: 2.7rem;
      height: 2.7rem;
      background-color: var(--button-background);
      border: 1px solid var(--button-background);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 1.5rem;
    }
  }

  .hamburger-menu {
    a {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--links-hover-color);
      }
    }
  }

  .hamburger-item {
    padding-bottom: 1rem;
  }

  input,
  textarea,
  .alert {
    width: 85vw;
  }

  .alert {
    margin-top: 2rem;
  }
}
