@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --header-background: #892626;
  --button-color: #fa8142;
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", arial, helvetica, sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.dark {
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
}

.light {
  --background-color: #fff;
  --text-color: #333;
  --links-hover-color: #000;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--links-hover-color);
  }
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.header {
  width: 100%;
  height: 275px;
  background: var(--header-background);
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 2rem;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 60px;
  }

  p {
    font-size: 19px;
  }
}

.header-text {
  padding-left: 30px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 75%;
    border-radius: 2rem;
    margin: 2rem 0;
  }

  .text {
    p {
      font-size: 17px;
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  }
}

.bottom-links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin-top: 30px;
  width: 200px;
  height: 100px;
  text-align: center;
  border: 0.1rem solid var(--button-color);
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 1rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    background-color: var(--button-color);
    transition: background-color 0.4s ease;
  }

  &:active {
    scale: 0.98;
  }
}

.prev-next {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .header {
    width: 100%;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }

  .content {
    img {
      width: 110%;
    }
  }
}
