@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
  --button-background: #33373a;
  --button-hover-background: #3f4142;
  --hamburger-menu-background: #2c2c2c;
}

.dark {
  --background-color: #1f1f1f;
  --text-color: #ccc;
  --links-hover-color: #fff;
  --hamburger-menu-background: #2c2c2c;
}

.light {
  --background-color: #fff;
  --text-color: #333;
  --links-hover-color: #000;
  --hamburger-menu-background: #c2c2c2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

img {
  user-select: none;
}

.links {
  h2 {
    font-size: 2em;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  a:hover {
    color: var(--links-hover-color);
  }
}

::-webkit-scrollbar {
  background-image: initial;
  background-color: transparent;
  height: 8px;
  width: 8px;
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  border-color: initial;
  box-shadow: none;
  background-image: initial;
  background-color: #555;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  min-height: 40px;

  &:hover {
    background: #404344;
  }

  &:active {
    background: #4a4c4d;
  }
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .theme-switcher {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--button-background);
    border: 1px solid var(--button-background);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1.5rem;
  }

  button:hover {
    background-color: var(--button-hover-background);
    cursor: pointer;
  }
}

.nav-item {
  color: var(--text-color);
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5em;

  &:hover {
    color: var(--links-hover-color);
  }
}

.hamburger-menu,
.hamburger {
  display: none;
}

.align-right {
  text-align: right;
}

.img-1 {
  width: 550px;
  border-radius: 1rem;
}

.img-2 {
  margin-top: 10px;
  width: 550px;
  border-radius: 1rem;
}

.images-right {
  float: right;
  display: grid;
  margin: 10px;
}

footer {
  width: 100vw;
  height: auto;
  display: grid;
  place-items: center;
}

.contact-info {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  width: 100vw;
  height: 215px;

  p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2em;
  }

  a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: var(--links-hover-color);
    }
  }
}

@media (max-width: 922px) {
  .title {
    text-align: center;
    font-size: 35px;
    padding-bottom: 1.5rem;
  }

  .links {
    text-align: center;
  }

  body {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-around;

    .theme-switcher {
      width: 2.7rem;
      height: 2.7rem;
    }

    .hamburger {
      display: contents;
      width: 2.7rem;
      height: 2.7rem;
      background-color: var(--button-background);
      border: 1px solid var(--button-background);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 1.5rem;
    }
  }

  .hamburger-menu {
    a {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--links-hover-color);
      }
    }
  }

  .hamburger-item {
    padding-bottom: 1rem;
  }

  .quote {
    font-size: 10px;
    display: none;
  }

  .images-right {
    display: none;
  }

  .contact-info {
    font-size: 12px;
    height: 155px;
    width: 93vw;
  }
}
