---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.svelte";

export const getStaticPaths = async () => {
  const saints = await getCollection("saints");

  return saints.map((saint) => ({
    params: { slug: saint.slug },
    props: saint,
  }));
};

type Props = CollectionEntry<"saints">;

const saint = Astro.props;
const {
  data: { lifetime, title },
  slug,
} = saint;
const { Content } = await saint.render();
---

<Layout title={`Saints for Us - ${title}`}>
  <BackButton />
  <div class="w-full h-full flex justify-center items-center px-80">
    <div class="flex mt-6">
      <img
        src={`/images/${slug}.jpg`}
        class="w-1/2 rounded-2xl object-cover"
        alt=""
      />
      <div class="w-1/2 px-4">
        <div class="text-4xl">{title}</div>
        <div class="pt-3 text-xl">{`(${lifetime})`}</div>
        <div class="pt-2">
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
