---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const saints = await getCollection("saints");
---

<Layout title="Saints for Us - Home">
  <main>
    <h1 class="text-center text-4xl my-8 dark:text-white">Saints for Us</h1>
    <div class="grid place-items-center w-screen overflow-x-hidden">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          saints.map(({ slug, data: { title } }) => {
            return (
              <>
                <a
                  class="my-6 bg-gray-200 p-4 rounded-xl grid place-items-center select-none md:h-80 md:w-52 hover:-translate-y-1 hover:cursor-pointer hover:shadow-lg hover:duration-100 dark:bg-dark-secondary dark:text-white mx-2 w-10/12"
                  href={slug}
                >
                  <img
                    src={`/images/${slug}.jpg`}
                    alt=""
                    class="rounded-2xl w-11/12"
                    transition:name={slug}
                  />
                  <div class="text-center py-2">{title}</div>
                </a>
              </>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
